/* tampilan body */
body{
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background: #FBF4EA;
}

/* Navbar */
nav {
  display: flex;
  background-color: #EDC9C4;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  position: fixed;
  z-index: 999;
  right: 0;
  left: 0;
  top: 0;
  width: auto;
}

/* icon menu mode tablet */
.hamburger-menu{
  display: none;
}

/*  */
/* .menu2{
  right: 2rem;
  top: 2rem;
}

.menu {
display: flex;
align-items: center;
} */

.menu .material-symbols-outlined{
margin: 0px 5px;
padding: 5px;
background-color: #EDC9C4;
border-radius: 10px;
cursor: pointer;
}

.p-navbar{
font-optical-sizing: auto;
font-weight: 600;
font-style: normal;
font-size: medium;
margin-left: 20px;
}

.abouts a{
display: flex;
align-items: center;
color: #000;
text-decoration: none;
}

.abouts a:hover{
  color: #a82e26;
}

.share .material-symbols-outlined{
margin: 0px 15px;
padding: 5px;
background-color: #EDC9C4;
border-radius: 10px;
}

.header{
background: linear-gradient(180deg, rgba(214,121,118,0.821187850140056) 37%, rgba(2,0,36,0) 100%);
width: auto;
height: 100%;
}

.icon{
  height: 60px;
  width: 60px;
  margin-top: 8%;
}

ul li{
list-style: none;
}

ul li a{
color: #333;
font-weight: 500;
padding: 5px 0;
display: block;
text-transform: capitalize;
text-decoration: none;
transition: 0.2s ease-out;
display: flex;
align-items: center;
margin: 20px 0;
}

ul li a span{
width: 40px;
text-align: center;
}

.sidebar-toggle {
display: none;
} */

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #EDC9C4;
  transition: 0.5s ease;
}

.side-menu{
  margin: 120px 0;
}

ul li a:hover {
  background-color: #E74646;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: #FBF4EA;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10rem;
}

.h1-title{
  padding-left: 30px;
  font-size: 40px;
  margin-top: 10%;
}

.title .material-symbols-outlined{
font-size: 50px;
}

.card {
  font-size: 18px;
  margin-bottom: 8px;
  border: 1px solid #e7c3c3;
  background-color: rgb(252, 222, 177);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin: 2rem auto;
  top: 15rem;
  display: flex;
  width: 65rem;
  height: 5.5rem;
  right: 4.3rem;
  text-align: center;
  justify-content: center;
}

/*footer area*/
.footer-side{
margin-top: 5rem;
padding-top: 28px;
padding-left: 28px;
padding-right: 28px;
background-color: #EDC9C4;
}

.left-h1{
font-size: 20px;
padding-bottom: 20px;
}

.footer-side .flex-footer {
display: flex;
justify-content: space-between;
flex-direction: space-between;
align-items: center;
}

.footer-side .flex-footers{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.footer-side .flex-footers .sosmed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .menu-footer a{
font-size: 16px;
padding-right: 15px;
padding-bottom: 20px;
letter-spacing: 2px;
font-weight: 500;
color: #000;
text-underline-offset: 7px;
text-decoration: none;
}

.header .menu-footer a:hover{
color: #a82e26;
}

.line{
box-sizing: border-box;
border-top-width: 2px;
border-top-style: solid ;
color: #000;
margin: 5px 0px 10px;
}

.p-footer{
font-size: 15px;
font-weight: 600;
padding-bottom: 20px;
padding-top: 16px;
padding-right: 725px;
}

.sosmed-footer{
width: 31px;
padding-right: 10px;
padding-bottom: 20px;
padding-top: 3px;
}

.sosmed-footer-github{
padding-right: 0px;
}

.logo-footer{
height: 30px;
padding-right: 15px;
padding-bottom: 2px;
}

.flex-footer .sosmed {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* laptop */
@media(max-width:996px){
  html{
    font-size: 62.5%;
  }
}

/* tablet */
@media(max-width:768px){
  html{
    font-size: 55%;
  }

  .header{
    margin-top: 5rem;
  }

  .header .menu-footer {
    position: absolute;
    top: 100%;
    background-color: #EDC9C4;
    width: 35rem;
    height: 100vh;
    left: -100%;
  }

  .menu-footer.active {
    left: 0;
  }

  .header .menu-footer a {
    display: block;
    margin: 1.5rem;
    padding: 1rem;
    font-size: 1.7rem;
    text-decoration: none;
  }

  .card{
    width: auto;
    height: 100%;
  }

  .footer-side .flex-footers {
   display: block;
  }

  .footer-side .flex-footers .p-footer{
    font-size: 1.5rem;
    width: 38rem;
    height: 100%;
  }

  nav{
    width: auto;
  }

  .header{
    width: auto;
  }

  .hamburger-menu{
    display: inline-block;
  }

  .header .menu-footer.active{
    left: 0;
  }
}

/* mobile phone */
@media(max-width:450px){
  html{
    font-size: 50%;
  }

}