@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  padding: 0px;
  background: #fbf4ea;
}

h2,
p,
h1,
h3 {
  margin: 0px;
}

a {
  text-decoration: none;
}

/* navigation area */
nav {
  background-color: #edc9c4;
  width: auto;
  height: max-content;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nav-h1 {
  font-size: 24px;
  text-shadow: 3px 3px #fff;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-menu {
  margin-right: 40px;
  display: block;
}

.nav-menu-right-container {
  display: flex;
  flex-direction: row;
}

.nav-section-menu {
  cursor: pointer;
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  height: 20px;
  padding: 10px;
  border-radius: 10px;
}

.nav-section-menu.about-team {
  display: none;
}

.nav-section-menu:hover {
  background-color: #e15240;
  color: #fff;
}

.icon-nav {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  margin: -10px;
}

.icon-nav:hover {
  background-color: #e15240;
  border-radius: 50%;
  color: #fff;
}

.toggle-button {
  position: absolute;
  top: 8px;
  right: 15px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* title */
.title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: auto;
  background-image: url("./assets/delivery-man-giving-groceries-order-customer\ 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay-title {
  background-color: rgba(237, 201, 196, 0.65);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1-title {
  padding-left: 30px;
  font-size: 50px;
}

.md-50 {
  font-size: 50px !important ;
}

/* Dashboard */
.insight {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 50px;
  padding: 20px;
}

.result {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.sub-result {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  border: #e15240 3px solid;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.p-title {
  text-align: center;
  font-weight: 300;
  margin: 0px 10px 10px 10px;
}

.p-result {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}

.filter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.select-btn,
.select-btn2 {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.select-btn .btn-text,
.select-btn2 .btn-text2 {
  font-size: 17px;
  font-weight: 400;
  color: #333;
  margin-right: 10px;
}
.select-btn .arrow-dwn,
.select-btn2 .arrow-dwn {
  display: flex;
  height: 21px;
  width: 21px;
  color: #000;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.select-btn.open .arrow-dwn,
.select-btn2.open .arrow-dwn {
  transform: rotate(-180deg);
}
.list-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  position: absolute;
  margin-top: 15px;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: none;
}
.select-btn.open ~ .list-items,
.select-btn2.open ~ .list-items {
  display: grid;
}
.list-items .item,
.list-items .item2 {
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 8px;
}
.list-items .item:hover,
.list-items .item2:hover {
  background-color: rgba(231, 70, 70, 0.1);
}

.grafik {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  justify-items: center;
}

.grafik-item {
  background-color: #fff;
  border-radius: 15px;
}

.grafik-title {
  /* text-align: center; */
  padding: 10px;
  background: #edc9c4;
}

#sales-region,
#sales-category,
#ship-mode td {
  text-align: center;
  font-size: 12px;
}

#segmentPieChartContainer {
  width: auto;
  height: 300px;
  margin: auto;
}

#sales-profit,
#mixedChart {
  width: 300px;
  height: auto;
  margin: auto;
}

#switch-icon{
  cursor: pointer;
}

canvas {
  width: 100% !important;
  height: auto !important;
  max-width: 100%;
}

/* footer area */
.footer-side {
  width: auto;
  bottom: 0%;
  padding: 20px;
  background-color: #edc9c4;
  background-size: cover;
  bottom: 0;
}

.left-h1 {
  font-size: 20px;
  padding-bottom: 10px;
}

.flex-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  height: 31px;
  bottom: 0px;
}

.sosmed-flex-footer {
  display: flex;
  flex-direction: row;
}

.line {
  box-sizing: border-box;
  border-top-width: 2px;
  border-top-style: solid;
  color: #000;
}

.p-footer {
  font-size: 15px;
  font-weight: 600;
  padding-top: 9px;
  height: 15px;
}

.sosmed-footer {
  width: 31px;
  padding-right: 10px;
}

.sosmed-footer-github {
  padding-right: 0px;
}

.logo-footer {
  height: 40px;
  padding-right: 15px;
  padding-top: 15px;
}

/* message icon */
.message-icon {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  position: fixed;
  border: none;
  background-color: #edc9c4;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.message-icon:hover {
  color: #fff;
  background-color: #e15240;
}

/* message area */
.form-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-message-area {
  font-family: "Montserrat, sans-serif";
  font-size: 18px;
  width: 400px;
  height: 10px;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  border: none;
}

.email {
  height: 120px;
}

.button-message {
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.button-message:hover {
  background-color: #ffe5ca;
}

.message-head {
  text-align: center;
  justify-items: center;
  color: #fff;
}

.message-head h2 {
  margin-bottom: 15px;
  font-size: 28px;
}

.message-head p {
  margin-bottom: 25px;
  font-size: 20px;
}

.popup-box {
  width: 600px;
  border-radius: 10px;
  padding: 20px;
  background-color: #e15240;
  position: relative;
  display: flex;
  flex-direction: column;
}

.popup-container {
  display: none;
  width: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.close-button {
  color: #fff !important;
  font-size: 40px !important;
  cursor: pointer;
  color: #000;
  float: right;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(237, 201, 196, 0.65);
  display: none;
  z-index: 1000;
}

.text-alert{
  background-color: #EDC9C4;
  text-align: center;
  padding: 15px;
  font-size: 24px;
  font-weight: 500;
  border-radius: 5px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  box-sizing: border-box;
  width: 500px;
  justify-content: center;
  align-items: center;

  .material-symbols-outlined {
    font-size: 40px !important;
    top: 50%;
    left: 50%;
    margin-right: 10px;
    vertical-align: middle;
  }
}

/* Mobile View */
@media (max-width: 768px) {
  /* Navbar */
  nav {
    padding: 0px;
  }

  .nav-h1 {
    font-size: 18px;
    padding: 20px 0px 20px 20px;
  }

  .toggle-button {
    display: block;
  }

  .toggle-button:hover {
    background-color: #e15240;
    color: #fff;
    border-radius: 50%;
  }

  .nav-menu-right {
    display: none;
    width: 100%;
    border-top: 1px solid #000;
    margin-bottom: 20px;
  }

  .nav-menu-right-container {
    margin-top: 10px;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    width: 100%;
    border-radius: 5px;
    margin: 0px 10px;
  }

  .nav-menu a {
    padding: 15px 0px 15px 20px;
    font-size: 16px;
  }

  .icon-nav.material-symbols-outlined {
    display: none;
  }

  .nav-section-menu.about-team {
    display: block;
  }

  .active {
    display: block;
  }

  /* Title */

  /* Dashboard */
  .insight {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .result {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
  }

  /* Footer */
  .flex-footer {
    display: flex;
    flex-direction: column;
  }

  .sosmed-flex-footer {
    padding-top: 30px;
  }

  .logo-footer {
    margin-top: 70px;
  }

  .card {
    width: auto;
    height: 100%;
  }

  /* Popup */
  .popup-box{
    width: 300px;
}

  .form-message-area {
    width: 270px;
  }

  .button-message {
    width: 100px;
    border-radius: 7px;
    font-size: 16px;
  }

  .message-head h2 {
    font-size: 24px;
  }

  .message-head p {
    font-size: 16px;
  }

  .text-alert{
    width: 360px;
  }

  .grafik {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .grafik-item{
    width: 380px;
  }

  #segmentPieChartContainer {
    width: 100%;
    height: 200px;
    margin: auto;
  }

  #sales-profit,
  #mixedChart {
    width: 100%;
    height: 200px;
    margin: auto;
  }
}

/* tablet view */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Navbar */
  nav {
    padding: 0px;
  }

  .nav-h1 {
    font-size: 18px;
    padding: 20px 0px 20px 20px;
  }

  .toggle-button {
    display: block;
  }

  .toggle-button:hover {
    background-color: #e15240;
    color: #fff;
    border-radius: 50%;
  }

  .nav-menu-right {
    display: none;
    width: 100%;
    border-top: 1px solid #000;
    margin-bottom: 20px;
  }

  .nav-menu-right-container {
    margin-top: 10px;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    width: 100%;
    border-radius: 5px;
    margin: 0px 10px;
  }

  .nav-menu a {
    padding: 15px 0px 15px 20px;
  }

  .icon-nav.material-symbols-outlined {
    display: none;
  }

  .nav-section-menu.about-team {
    display: block;
  }

  .active {
    display: block;
  }

  .grafik {
    display: grid;
    grid-template-columns: 1fr;
  }
}