@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background: #FBF4EA;
}

/* navigation area */
nav{
  background-color: #EDC9C4;
  width: auto;
  height: 20px;
  padding: 25px;
  top: 0px;
  left: 0px;
  right: 0px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  }
  
  .nav-h1{
  font-size: 24px;
  text-shadow: 3px 3px #fff;
  margin-top: auto;
  margin-bottom: auto;
  }
  
  .nav-menu{
  margin-right: 40px;
  }
  
  .nav-menu-right{
  display: flex;
  flex-direction: row;
  }
  
  .nav-section-menu{
  cursor: pointer;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  height: 20px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  }
  
  .nav-section-menu:hover{
  background-color: #E15240;
  color: #fff ;
  }
  
  .icon-nav{
  color: #000;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  margin: -10px;
  }
  
  .icon-nav:hover{
  background-color: #E15240;
  border-radius: 50%;
  color: #fff;
  }

/* Sidebar */

.sidebar{
  height: 100%;
  width: 250px;
  position: absolute;
  background-color: #fff;
  transition: 0.5s ease;
}

ul li{
  list-style: none;
}

ul li a{
  color: #333;
  font-weight: 500;
  padding: 5px 0;
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s ease-out;
  display: flex;
  align-items: center;
  margin: 20px 0;
}

ul li a span{
  width: 40px;
  text-align: center;
}

.sidebar-toggle {
  display: none;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #EDC9C4;
  transition: 0.5s ease;
}

.sidebar-toggle:checked + .sidebar {
  left: 0;
}

.side-menu{
  margin: 120px 0;
}

/*codingan baru untuk nambahin cursor di tombol menu*/
.menu span {
  cursor: pointer;
}

ul li a:hover {
  background-color: #E74646;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: #FBF4EA;
}

/* title insight */
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: auto;
  background-image: linear-gradient(180deg, rgba(232, 182, 175) 48%, rgba(232, 182, 175,0.001));
  }
  
  .h1-title{
    padding-left: 30px;
    font-size: 40px;
  }
  
  .md-50{
  font-size: 50px !important ;
  }

/* Dashboard */
.insight{
  display: flex;
  margin: 10px 42px;
  justify-content: space-between;
  align-items: center;
}

.insight .result{
  display: flex;
}

.filter{
  display: flex;
}

.year, .region{
  margin-left: 30px;
  width: 185px;
}

.insight .result .sub-result{
  text-align: center;
  width: 150px;
  height: 80px;
  border: #E74646 2px solid;
  background-color: #fff;
  margin: 5px;
}

.insight .result .sub-result .p-title{
  font-size: 15px;
  font-weight: 300;
  margin: 15px 0px 5px 0px;
}

.insight .result .sub-result .p-result{
  font-size: 26px;
  font-weight: 700;
  margin: 5px 0px 15px 0px;
  letter-spacing: 2px;
}

.select-btn, .select-btn2{
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.select-btn .btn-text, 
.select-btn2 .btn-text2{
  font-size: 17px;
  font-weight: 400;
  color: #333;
  margin-right: 10px;
}
.select-btn .arrow-dwn,
.select-btn2 .arrow-dwn{
  display: flex;
  height: 21px;
  width: 21px;
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
  background: #E74646;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.select-btn.open .arrow-dwn,
.select-btn2.open .arrow-dwn{
  transform: rotate(-180deg);
}
.list-items{
  position: absolute;
  margin-top: 15px;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: none;
}
.select-btn.open ~ .list-items,
.select-btn2.open ~ .list-items{
  display: block;
}
.list-items .item,
.list-items .item2{
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 15px;
  border-radius: 8px;
}
.list-items .item:hover,
.list-items .item2:hover{
  background-color: rgba(231, 70, 70, 0.1);
}
.item .item-text,
.item2 .item-text{
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.item .checkbox,
.item2 .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  margin-right: 12px;
  border: 1.5px solid #c0c0c0;
  transition: all 0.3s ease-in-out;
}
.item.checked .checkbox,
.item2.checked2 .checkbox{
  background-color: #E74646;
  border-color: #E74646;
}
.checkbox .check-icon{
  color: #fff;
  font-size: 11px;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}
.item.checked .check-icon,
.item2.checked2 .check-icon{
  transform: scale(1);
}

.content{
  height: 300px;
  width: 94%;
  margin: 5px 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content .grafik{
  width: 33%;
  height: 100%;
  background-color: #fff;
}

/* footer area */
.footer-side{
  bottom: 0%;
  padding: 25px;
  background-color: #EDC9C4;
  background-size: cover;
  bottom: 0;
  }
  
  .left-h1{
  font-size: 20px;
  padding-bottom: 15px;
  margin: 0px;
  }
  
  .flex-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  height: 31px;
  }
  
  .sosmed-flex-footer{
  display: flex;
  flex-direction: row;
  margin-left: 760px;
  }
  
  .line{
  box-sizing: border-box;
  border-top-width: 2px;
  border-top-style: solid ;
  color: #000;
  }
  
  .p-footer{
  font-size: 15px;
  font-weight: 600;
  padding-top: 9px;
  height: 15px;
  margin: 0px;
  }
  
  .sosmed-footer{
  width: 31px;
  padding-right: 10px;
  }
  
  .sosmed-footer-github{
  padding-right: 0px;
  }
  
  .logo-footer{
  height: 40px;
  padding-right: 15px;
  padding-top: 15px;
  }
  
  /* message icon */
  .message-icon{
  color: #000;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  position: fixed;
  border: none;
  background-color: #EDC9C4;
  right: 20px;
  bottom: 30px;
  width: 60px;
  height: 60px; 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  }
  
  .message-icon:hover{
  color: #fff;
  background-color: #E15240;
  }
  
  /* message area */
  .form-message{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  
  .form-message-area{
  font-family: 'Montserrat, sans-serif';
  font-size: 18px;
  width: 400px;
  height: 10px;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  border: none;
  }
  
  .email {
  height: 120px;
  }
  
  .button-message{
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  background-color: #fff;
  border: none;
  cursor: pointer;
  }
  
  .button-message:hover{
  background-color: #ffe5ca;
  }
  
  .message-head{
  text-align: center;
  justify-items: center;
  color: #fff;
  }
  
  .message-head h2{
  margin-bottom: 15px;
  font-size: 28px;
  }
  
  .message-head p{
  margin-bottom: 25px;
  font-size: 20px;
  }
  
  .popup-box{
  width: 600px;
  border-radius: 10px;
  padding: 20px;
  background-color: #E15240;
  position: relative;
  }
  
  .popup-container{
  display: none;
  width: auto;
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  }
  
  .close-button{
  color: #fff !important;
  font-size: 40px !important;
  cursor: pointer;
  color: #000;
  float: right;
  }
  
  .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(237, 201, 196, 0.65);
  display: none;
  z-index: 999;
  }