@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background: #FBF4EA;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu .material-symbols-outlined{
  margin: 0px 5px;
  padding: 5px;
  background-color: #EDC9C4;
  border-radius: 10px;
}

p{
  font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: medium;
}

.menu2{
  display: flex;
  align-items: center;
}

.search{
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 10px;
  background-color: #EDC9C4;
}

.search-input{
  font-size: 16px;
  color: #333;
  outline: none;
  border: none;
  background: transparent;
  width: 200px;
}

.search-input::placeholder, .search .material-symbols-outlined{
  color: rgba(0, 0, 0, 0.5);
}

.share .material-symbols-outlined{
  margin: 0px 15px;
  padding: 5px;
  background-color: #EDC9C4;
  border-radius: 10px;
}

/* Sidebar */

.sidebar{
  height: 100%;
  width: 250px;
  position: absolute;
  background-color: #fff;
  transition: 0.5s ease;
}

ul li{
  list-style: none;
}

ul li a{
  color: #333;
  font-weight: 500;
  padding: 5px 0;
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s ease-out;
  display: flex;
  align-items: center;
  margin: 20px 0;
}

ul li a span{
  width: 40px;
  text-align: center;
}

.sidebar-toggle {
  display: none;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #EDC9C4;
  transition: 0.5s ease;
}

.sidebar-toggle:checked + .sidebar {
  left: 0;
}

.side-menu{
  margin: 120px 0;
}

ul li a:hover {
  background-color: #E74646;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: #FBF4EA;
}

/* Dashboard */

.title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.insight{
  display: flex;
  margin: 10px 42px;
  justify-content: space-between;
  align-items: center;
}

.insight .result{
  display: flex;
}

.filter{
  display: flex;
}

.year, .region{
  margin-left: 30px;
  width: 185px;
}

.insight .result .sub-result{
  text-align: center;
  width: 150px;
  height: 80px;
  border: #E74646 2px solid;
  background-color: #fff;
  margin: 5px;
}

.insight .result .sub-result .p-title{
  font-size: 15px;
  font-weight: 300;
  margin: 15px 0px 5px 0px;
}

.insight .result .sub-result .p-result{
  font-size: 26px;
  font-weight: 700;
  margin: 5px 0px 15px 0px;
  letter-spacing: 2px;
}

.select-btn, .select-btn2{
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.select-btn .btn-text, 
.select-btn2 .btn-text2{
  font-size: 17px;
  font-weight: 400;
  color: #333;
  margin-right: 10px;
}
.select-btn .arrow-dwn,
.select-btn2 .arrow-dwn{
  display: flex;
  height: 21px;
  width: 21px;
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
  background: #E74646;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.select-btn.open .arrow-dwn,
.select-btn2.open .arrow-dwn{
  transform: rotate(-180deg);
}
.list-items{
  position: absolute;
  margin-top: 15px;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: none;
}
.select-btn.open ~ .list-items,
.select-btn2.open ~ .list-items{
  display: block;
}
.list-items .item,
.list-items .item2{
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 15px;
  border-radius: 8px;
}
.list-items .item:hover,
.list-items .item2:hover{
  background-color: rgba(231, 70, 70, 0.1);
}
.item .item-text,
.item2 .item-text{
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.item .checkbox,
.item2 .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  margin-right: 12px;
  border: 1.5px solid #c0c0c0;
  transition: all 0.3s ease-in-out;
}
.item.checked .checkbox,
.item2.checked2 .checkbox{
  background-color: #E74646;
  border-color: #E74646;
}
.checkbox .check-icon{
  color: #fff;
  font-size: 11px;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}
.item.checked .check-icon,
.item2.checked2 .check-icon{
  transform: scale(1);
}

.content{
  height: 300px;
  width: 94%;
  margin: 5px 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content .grafik{
  width: 33%;
  height: 100%;
  background-color: #fff;
}

/*footer area*/
.footer-side{
  margin-top: 50px;
  padding-left: 28px;
  padding-right: 28px;
  background-color: #EDC9C4;
  background-size: cover;
}

.left-h1{
  font-size: 20px;
  margin: 20px 0;
}

.flex-footer {
  display: flex;
  flex-direction: space-between;
}

.p-menu-footer{
  font-size: 16px;
  padding-right: 15px;
  margin: 20px 0;
  letter-spacing: 2px;
  font-weight: 500;
  color: #000;
  text-underline-offset: 7px;
}

a.p-menu-footer:hover{
  color: #a82e26;
}

.line{
  box-sizing: border-box;
  border-top-width: 2px;
  border-top-style: solid ;
  color: #000;
  margin: 5px 0px 10px;
}

.p-footer{
  font-size: 15px;
  font-weight: 600;
  padding-right: 53%;
}

.sosmed-footer{
  width: 31px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-top: 3px;
}

.sosmed-footer-github{
  padding-right: 0px;
}

.logo-footer{
  height: 30px;
  padding-right: 15px;
  padding-bottom: 20px;
}

/*message icon*/
.button-faq{
  position: fixed; 
  right: 28px;
  bottom: 28px; 
  width: 50px;
  height: 50px;
  background-color: #EDC9C4;
  box-shadow: 14px 6px 11px rgba(0,0,0,0.2);
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

.img-button-faq{
  width: 30px;
  height: 30px;
  justify-content: center;
}

button:hover{
  background-color: #E74646;
}