body{
    background-color: #FBF4EA;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

h2, p, h1, h3{
    margin: 0px;
}

a {
    text-decoration: none;
}

/* navigation area */
nav{
    background-color: #EDC9C4;
    width: auto;
    height: 20px;
    padding: 25px;
    top: 0px;
    left: 0px;
    right: 0px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.nav-h1{
    font-size: 24px;
    text-shadow: 3px 3px #fff;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-menu{
    margin-right: 40px;
}

.nav-menu-right{
    display: flex;
    flex-direction: row;
}

.nav-section-menu{
    cursor: pointer;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    height: 20px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.nav-section-menu:hover{
    background-color: #E15240;
    color: #fff ;
}

.icon-nav{
    color: #000;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    margin: -10px;
}

.icon-nav:hover{
    background-color: #E15240;
    border-radius: 50%;
    color: #fff;
}

/* groupping */
.groupping{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 8% 0px;
}

.title-grouping{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.box-groupping{
    display: flex;
    flex-direction: row;
    background-color: #EDC9C4;
    border-radius: 10px;
    height: 100px;
    width: 350px;
    padding: 17px;
    margin-right: 45px;
    color: #000;
    cursor: pointer;
}

.recomendation{
    margin-right: 0px;
}
.box-groupping:hover{
    background-color: #E15240;
    color: #fff;
}

.md-40{
    font-size: 40px !important;
    padding: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.dashboard-box{
    height: 39px;
}

.p-box{
    padding-top: 10px;
}

/* footer area */
.footer-side{
    bottom: 0%;
    padding: 25px;
    background-color: #EDC9C4;
    background-size: cover;
    bottom: 0;
}

.left-h1{
    font-size: 20px;
    padding-bottom: 15px;
}

.flex-footer {
    display: flex;
    flex-direction: space-between;
    padding-top: 15px;
    height: 31px;
}

.sosmed-flex-footer{
    display: flex;
    flex-direction: row;
    margin-left: 760px;
}

.line{
    box-sizing: border-box;
    border-top-width: 2px;
    border-top-style: solid ;
    color: #000;
}

.p-footer{
    font-size: 15px;
    font-weight: 600;
    padding-top: 9px;
    height: 15px;
}

.sosmed-footer{
    width: 31px;
    padding-right: 10px;
}

.sosmed-footer-github{
    padding-right: 0px;
}

.logo-footer{
    height: 40px;
    padding-right: 15px;
    padding-top: 15px;
}

/* slider */
.slider{
    background-image: url(./assets/delivery-man-giving-groceries-order-customer\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: auto;
    position: relative;
    overflow: hidden;
}

.list{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    transition: 3s ease;
}

.lsit p{
    object-fit: cover;
    align-items: center;
    justify-content: center;
}

.item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(232, 182, 175, 0.65);
}

.p-slider{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 820px;
    margin: 0 350px;
}

.dots{
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 25px;
    transition: 3s;
}

.dots li.active{
    width: 40px;
}

/* message icon */
.message-icon{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    position: fixed;
    border: none;
    background-color: #EDC9C4;
    right: 20px;
    bottom: 30px;
    width: 60px;
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.message-icon:hover{
    color: #fff;
    background-color: #E15240;
}

/* message area */
.form-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-message-area{
    font-family: 'Montserrat, sans-serif';
    font-size: 18px;
    width: 400px;
    height: 10px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: none;
}

.email {
    height: 120px;
}

.button-message{
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.button-message:hover{
    background-color: #ffe5ca;
}

.message-head{
    text-align: center;
    justify-items: center;
    color: #fff;
}

.message-head h2{
    margin-bottom: 15px;
    font-size: 28px;
}

.message-head p{
    margin-bottom: 25px;
    font-size: 20px;
}

.popup-box{
    width: 600px;
    border-radius: 10px;
    padding: 20px;
    background-color: #E15240;
    position: relative;
}

.popup-container{
    display: none;
    width: auto;
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.close-button{
    color: #fff !important;
    font-size: 40px !important;
    cursor: pointer;
    color: #000;
    float: right;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(237, 201, 196, 0.65);
    display: none;
    z-index: 999;
}