body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background: #FBF4EA;
  }

/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
  }
  
.menu {
  display: flex;
  align-items: center;
}
  
.menu .material-symbols-outlined{
  margin: 0px 5px;
  padding: 5px;
  background-color: #EDC9C4;
  border-radius: 10px;
  cursor: pointer;
}
  
.p-navbar{
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: medium;
  margin-left: 20px;
}
  
.menu2{
  display: flex;
  align-items: center;
}
  
.search{
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 10px;
  background-color: #EDC9C4;
}
  
.search-input{
  font-size: 16px;
  color: #333;
  outline: none;
  border: none;
  background: transparent;
  width: 200px;
}

.search-input::placeholder, .search .material-symbols-outlined{
  color: rgba(0, 0, 0, 0.5);
}
  
.share .material-symbols-outlined{
  margin: 0px 15px;
  padding: 5px;
  background-color: #EDC9C4;
  border-radius: 10px;
}
  
.header{
  background: linear-gradient(180deg, rgba(214,121,118,0.821187850140056) 37%, rgba(2,0,36,0) 100%);
  width: auto;
  height: 230px;
}

/* Sidebar */
  
.sidebar{
  height: 100%;
  width: 250px;
  position: absolute;
  background-color: #fff;
  transition: 0.5s ease;
}
  
ul li{
  list-style: none;
}
  
ul li a{
  color: #333;
  font-weight: 500;
  padding: 5px 0;
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s ease-out;
  display: flex;
  align-items: center;
  margin: 20px 0;
}
  
ul li a span{
  width: 40px;
  text-align: center;
}
  
.sidebar-toggle {
  display: none;
}
  
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #EDC9C4;
    transition: 0.5s ease;
}
  
.sidebar-toggle:checked + .sidebar {
  left: 0;
}
  
.side-menu{
    margin: 120px 0;
}
  
ul li a:hover {
    background-color: #E74646;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color: #FBF4EA;
}
/* title insight */

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1-title{
    padding-left: 30px;
    font-size: 40px;
}

.title .material-symbols-outlined{
  font-size: 50px;
}

/*question*/
.p-number{
  font-weight: 600;
  font-size: 26px;
  padding-right: 30px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

.p-question{
  font-size: 24px;
  font-weight: 400;
  margin: 0px;
  padding-top: 1px;
  font-family: "Montserrat", sans-serif;
}

.expandable{
  margin: 0px 80px 50px 80px;

  --transition-ms:0.3s;
  --border-radius:10px;
}

.expandable__title-bar:hover{
  color: #fff;
  background-color: #E15240;
}
.expandable__open .expandable__content-wrapper{
  grid-template-rows: 1fr;
}

.expandable__open .expandable__title-bar {
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}

.expandable__open .expandable__icon{
  transform: rotate(180deg);
}

.expandable__title{
  display: flex;
}

.expandable__title-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border-radius: var(--border-radius) var(--border-radius);
  user-select: none;
  background-color: #EDC9C4;
  cursor: pointer;
}

.expandable__content{
  background-color: #FFF3E2;
  border: 1px solid #999;
  border-top: none;
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.expandable__content p{
  margin: 25px 25px 25px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.expandable__content-wrapper{
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-templete-rows var(--transition-ms) ease-out;
}

.expandable__icon{
  font-size: 30px;
  transition: transform var(--transition-ms);
}

.question{
  padding-top: 80px;
}

.box-content{
  background-color: #fff;
  width: 400px;
  height: 300px;
  margin: 25px;
}

/*footer area*/
.footer-side{
  margin-top: 105px;
  padding-top: 28px;
  padding-left: 28px;
  padding-right: 28px;
  background-color: #EDC9C4;
  background-size: cover;
}

.left-h1{
  font-size: 20px;
  padding-bottom: 20px;
}

.flex-footer {
  display: flex;
  flex-direction: space-between;
}

.p-menu-footer{
  font-size: 16px;
  padding-right: 15px;
  padding-bottom: 20px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #000;
  text-underline-offset: 7px;
}

a.p-menu-footer:hover{
  color: #a82e26;
}

.line{
  box-sizing: border-box;
  border-top-width: 2px;
  border-top-style: solid ;
  color: #000;
  margin: 5px 0px 10px;
}

.p-footer{
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 20px;
  padding-top: 16px;
  padding-right: 725px;
}

.sosmed-footer{
  width: 31px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-top: 3px;
}

.sosmed-footer-github{
  padding-right: 0px;
}

.logo-footer{
  height: 30px;
  padding-right: 15px;
  padding-bottom: 20px;
}
